on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20.x

    - run: yarn install

    - run: yarn run compile

    - name: Publish
      run: yarn run deploy
      env:
        VSCE_PAT: ${{ secrets.VSCE_PAT }}